.recipe {
    width:736px;
    height: auto;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 40px;
}

header, main {
    width:656px;
    height:auto;
}

/* header items */
.image {
    width: 656px;
    height: 300px;
    margin-bottom: 8px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius:12px;
}

.heading {
    font-family: var(--young);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align:start;
}

.info {
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}

/* main items */

/* preparation */

.preparation {
    padding: 36px 28px 28px;
    gap: 16px;
    background-color:var(--rose-50) ;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.preparation > p {
    width:536px;
    height:auto;
    font-family: var(--outfit);
    font-weight:600;
    font-size:20px;
    line-height: auto;
    color:var(--rose-800);
}

.preparation> ul {
    padding: 0px 14px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.preparation > ul > li::marker {
    font-size:0.8em;
    color:var(--rose-800);
}

.preparation > ul > li {
    list-style-position: inside;
    font-family: var(--outfit);
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color:var(--stone-600);
}

.preparation > ul > li >span {
    font-weight: 600;
}

/* ingredients */

.ingredients {
    padding: 8px 0px;
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.ingredients > ul {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:8px;
}

.ingredients > ul > li::marker {
    font-size:0.8em;
    color:var(--brown-800);
}

.ingredients > ul > li {
    list-style-position: inside;
    font-family: var(--outfit);
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color:var(--stone-600);
}

/* instruction */

.instructions {
    padding: 8px 0px;
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.instructions > ol {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:8px;
}

.instructions > ol > li::marker {
    font-size:1em;
    font-weight: 600;
    color:var(--brown-800);
    font-family: var(--young);
}

.instructions  > ol > li {
    list-style-position: inside;
    font-family: var(--outfit);
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color:var(--stone-600);
    text-align:justify;
}

.instructions > ol > li > span {
    font-weight: 600;
}

/* nutrition */

.nutrition {
    padding: 8px 0px;
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.sub-head {
    font-family: var(--outfit);
    font-weight:400;
    font-size:16px;
    line-height: 24px;
    color:var(--stone-600);
}

table {
      width: 100%;
      border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--stone-150);
}

td {
    font-family: var(--outfit);
    font-size: 16px;
    line-height: auto;
    padding:12px 0px 13px 0px;
}

td:first-child {
    text-align: left;
    color:var(--stone-600);
    font-weight:400;
    padding-left: 32px;
}

td:last-child {
    text-align: left;
    font-weight: 700;
    color: var(--brown-800);
}

tr:last-child {
    border-bottom: none;
}