@import url("recipe.css");

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --young:"Young", serif;
    --outfit: "Outfit",sans-serif;

    --stone-100: #f3e6d8;
    --stone-150: #e4ded8;
    --stone-600: #5f574e;
    --stone-900: #302d2c;

    --brown-800: #854632;

    --rose-800: #7b284f;
    --rose-50: #fff5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 128px auto;
    background-color: var(--stone-100);
    display:grid;
    place-content: center;
    place-items: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
}

.align-start {
    width:592px;
    letter-spacing: 0%;
    text-align:start;
}

hr {
  border: 0;
  clear:both;
  width: 90%;               
  background-color:var(--stone-150);
  height: 1px;
}

.sec-head {
    width:536px;
    height:auto;
    font-family: var(--young);
    font-weight:600;
    font-size:26px;
    line-height: auto;
    color:var(--brown-800);
}   